<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{ 'app.title'|trans }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    {% block stylesheets %}
        {% stylesheets filter='less, cssrewrite'
        'css/*.css'
        output='css/compiled/bootstrap.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-brand">
                <a href="{{ path('homepage') }}">{{ 'app.title'|trans }}</a>
            </div>

            {% block header_menu %}
            {% endblock %}
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">

        {% block body %}

        {% endblock %}

    </div>
</div>

{% block javascripts %}
    {% javascripts
    'js/jquery.js'
    'js/bootstrap.js'
    filter='?uglifyjs'
    output='js/compiled/base.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>

</html>
