{% autoescape false %}
{% block extends %}
{{ "{% extends '::two-columns.html.twig' %}" }}
{% endblock extends %}

{% block body %}

{{ "{% block main_content %}" }}
    <h2> {{ "{{ '" ~ entity_prefix ~ ".title.edit'|trans }}" }}</h2>

    <form method="POST" action="{{ "{{ path('" ~ entity_prefix ~ "_edit', {'id': form.vars.data.id}) }}" }}" role="form" {{ "{{ novalidate }}" }}>
        <div class="panel panel-default">
            <div class="panel-body">
                {{ "{{ form(form) }}" }}
                {{ "{{ form_rest(form) }}" }}
            </div>
        </div>
    </form>

    {{ "{% endblock main_content %}" }}

{% endblock body %}
{% endautoescape %}
