{% autoescape false %}
{% block extends %}
{{ "{% extends 'DisideGeneratorBundle::two-columns.html.twig' %}" }}
{% endblock extends %}

{% block body %}

{{ "{% block main_content %}" }}
    <h2> {{ "{{ 'entity.title.create'|trans({'%entity%': '" ~ entity ~ "'}) }}" }}</h2>

    <form method="POST" action="{{ "{{ path('" ~ route_prefix ~ "_new') }}" }}" role="form" {{ "{{ novalidate }}" }}>
        <div class="panel panel-default">
            <div class="panel-body">
                {{ "{{ form(form) }}" }}
                {{ "{{ form_rest(form) }}" }}
            </div>
        </div>
    </form>

{{ "{% endblock main_content %}" }}

{% endblock body %}
{% endautoescape %}
